{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete room {{room.id}} - {{room.type_}}? </h2>

<form action="#" method = 'post'>
	<button type="submit" class="btn btn-default delete" id="submit" type="submit">
	<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>

	<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
</form>
	
<a href = '{{ url_for('showRoom', listing_id=room.listing_id) }}'>
	<button class="btn btn-default delete">
	<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
</a>

{% endblock %}